/*
 * Social media icons 
 */

ul.social-media {
  padding-top: 10px;
}

ul.social-media {

  li { 
    padding-right: 2px;
    display:inline-block;
  }
  
  li > a {
    width: 24px;
    height: 24px;
    border: 1px solid lighten($color-1, 8%);
    background-image: url("./images/social2.png");
    background-color: darken($color-2, 20%);
    @include transition(background-color 0.2s);
    border-bottom-color: lighten($color-1, 8%);
    border-radius: 50%;

    &:hover {
      background-color: $color-white;
    }
  }
    
  li a.linkedin {
    background-position: -160px -109px;
    &:hover {
      background-position: -160px -109px;
    }
  }

  li a.skype {
    background-position: -572px -109px;
    &:hover {
      background-position: -572px -109px;
    }
  }

  li a.twitter {
    background-position: -6px -109px;
    &:hover {
      background-position: -6px -109px;
    }
  }

  li a.github {
    background-position: -470px -109px;
    &:hover {
      background-position: -470px -109px;
    }
  }

  li a.facebook {
    background-position: -56px -109px;
    &:hover {
      background-position: -56px -109px;
    }
  }

  li a.dribble {
    background-position: -57px -263px;
    &:hover {
      background-position: -57px -263px;
    }
  }

  li a.google {
    background-position: -109px -109px;
    &:hover {
      background-position: -109px -109px;
    }
  }

  li a.pinterest {
    background-position: -212px -109px;
    &:hover {
      background-position: -212px -109px;
    }
  }

  li a.rss {
    background-position: -315px -109px;
    &:hover {
      background-position: -315px -109px;
    }
  }
}

/**
 * IE fallback 
 */
.no-svg footer.main-footer ul.social-media li a {
  width: 18px;
  height: 18px;
  border: 1px solid $color-white;
  background-image: url("./images/social2.png");
//   background-size: 168px 48px;
  border-radius: 0.25em;
  @include transition(background-color 0.2s);
//   border-bottom-color: transparent;
  display: inline-block;

  &:hover {
    background-color: $color-white;
  }
}
